h4 {
   
   color:#0C80A9;
}


pre {
	background-color:white; 
	font-size: 12px;
	border:none;  
}


.navbar-inner {
font-size: 110%;
	color: white;   
	background-color: #000000 ;
} 

.navbar-static-top {
font-size: 110%;
  position: static;
  margin-bottom: 0px;
  color: white;
  background-color: #000000 ;
}

.navbar-nav
{
color:white;
}

.navbar-nav > li > a:link
{
color:white;
background-color: #000000
}

.navbar-default .navbar-brand {
  color: white;
}


.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 25px;
  line-height: 20px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #0C80A9;
  background-color: #000000;
}

